/* General element */
:root {
  --Main-Trans: 0.3s;
  --Main-grid: linear-gradient(90deg, crimson 0%, hsla(197, 100%, 64%, 1) 100%);
  --mainColor: crimson;
  --groundColor: #222;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 19px;
}
body {
  font-family: "Fira Sans", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* mid screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screen  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.section-pad {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* General element end */
/* Header */
header {
  position: relative;
  background-color: #fafafa;
  box-shadow: -8px -5px 9px 1px grey;
}
header::before {
  content: "";
  height: 100%;
  width: 0%;
  left: 0;
  position: absolute;
  background-color: rgba(68, 68, 68, 0.178);
  z-index: -1;
  transition: calc(var(--Main-Trans) + 0.3s);
  -webkit-transition: calc(var(--Main-Trans) + 0.3s);
  -moz-transition: calc(var(--Main-Trans) + 0.3s);
  -ms-transition: calc(var(--Main-Trans) + 0.3s);
  -o-transition: calc(var(--Main-Trans) + 0.3s);
}
header::after {
  content: "";
  height: 100%;
  width: 0%;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(68, 68, 68, 0.178);
  z-index: -1;
  transition: calc(var(--Main-Trans) + 0.3s);
  -webkit-transition: calc(var(--Main-Trans) + 0.3s);
  -moz-transition: calc(var(--Main-Trans) + 0.3s);
  -ms-transition: calc(var(--Main-Trans) + 0.3s);
  -o-transition: calc(var(--Main-Trans) + 0.3s);
}
header:hover::after,
header:hover::before {
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  header .container .logo {
    width: 100%;
    margin-bottom: 25px;
  }
}
header .container a img {
  height: 72px;
}
header .main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .main-nav > li > {
  position: absolute;
  z-index: 1;
}
header .main-nav > li > a {
  display: flex;
  font-weight: 600;
  letter-spacing: 0.9px;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 72px;
  position: relative;
  font-size: 0.9rem;
  color: black;
  transition: var(--Main-Trans);
  -webkit-transition: var(--Main-Trans);
  -moz-transition: var(--Main-Trans);
  -ms-transition: var(--Main-Trans);
  -o-transition: var(--Main-Trans);
  flex: 1;
  z-index: 2;
}
@media (max-width: 767px) {
  header .main-nav > li > a {
    padding: 10px;
    font-size: 0.8rem;
  }
}

header .main-nav > li > a::before {
  background: var(--Main-grid);
  height: 3px;
}
header .main-nav > li > a::after {
  background-color: rgba(245, 245, 245, 0.26);
  height: 100%;
}
header .main-nav > li > a::after,
header .main-nav > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  transition: var(--Main-Trans);
  -webkit-transition: var(--Main-Trans);
  -moz-transition: var(--Main-Trans);
  -ms-transition: var(--Main-Trans);
  -o-transition: var(--Main-Trans);
}

header .main-nav > li > a:hover {
  color: var(--mainColor);
}
header .main-nav > li > a:hover:before,
header .main-nav > li > a:hover::after {
  width: 100%;
}

/* Mega menu  */
header .container .main-nav > li:last-child .mega-menu::before {
  content: "";
  height: 100%;
  width: 0%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(68, 68, 68, 0.178);
  z-index: -1;
  transition: calc(var(--Main-Trans) + 0.5s);
  -webkit-transition: calc(var(--Main-Trans) + 0.5s);
  -moz-transition: calc(var(--Main-Trans) + 0.5s);
  -ms-transition: calc(var(--Main-Trans) + 0.5s);
  -o-transition: calc(var(--Main-Trans) + 0.5s);
}
header .container .main-nav > li:last-child .mega-menu::after {
  content: "";
  height: 100%;
  width: 0%;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(68, 68, 68, 0.178);
  z-index: -1;
  transition: calc(var(--Main-Trans) + 0.5s);
  -webkit-transition: calc(var(--Main-Trans) + 0.5s);
  -moz-transition: calc(var(--Main-Trans) + 0.5s);
  -ms-transition: calc(var(--Main-Trans) + 0.5s);
  -o-transition: calc(var(--Main-Trans) + 0.5s);
}
header .container .main-nav > li:last-child .mega-menu:hover::after,
header .container .main-nav > li:last-child .mega-menu:hover::before {
  width: 100%;
}
header .container .main-nav > li:last-child .mega-menu {
  display: flex;
  position: absolute;
  top: -700px;
  left: 0;
  width: 100%;
  gap: 40px;
  padding: 30px;
  background-color: #fafafa;
  border-bottom: 3px solid var(--mainColor);
  transition: calc(var(--Main-Trans) + 0.5s);
  -webkit-transition: calc(var(--Main-Trans) + 0.5s);
  -moz-transition: calc(var(--Main-Trans) + 0.5s);
  -ms-transition: calc(var(--Main-Trans) + 0.5s);
  -o-transition: calc(var(--Main-Trans) + 0.5s);
  z-index: 1;
}
@media (max-width: 767px) {
  header .container .main-nav > li:last-child .mega-menu {
    flex-direction: column;
    max-width: 100%;
    gap: 0;
  }
}
header .container .main-nav > li:last-child:hover .mega-menu {
  top: calc(100% + 5px);
}
header .container .main-nav .mega-menu .image {
  position: relative;
}
header .container .main-nav .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  header .container .main-nav .mega-menu .image {
    display: none;
  }
}
header .container .main-nav .mega-menu .links {
  min-width: 250px;
  flex: 1;
  margin-top: 50px;
}
@media (max-width: 767px) {
  header .container .main-nav .mega-menu .links {
    margin-top: 0;
  }
}
header .container .main-nav .mega-menu .links > li {
  padding: 20px 30px;
  transition: var(--Main-Trans);
  -webkit-transition: var(--Main-Trans);
  -moz-transition: var(--Main-Trans);
  -ms-transition: var(--Main-Trans);
  -o-transition: var(--Main-Trans);
  position: relative;
}
@media (max-width: 767px) {
  header .container .main-nav .mega-menu .links > li {
    padding: 10px;
  }
  header .container .main-nav .mega-menu .links:first-of-type > li:last-child {
    border-bottom: 1px solid #d5d6d6;
  }
}
header .container .main-nav .mega-menu .links > li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa1a;
  transition: var(--Main-Trans);
  -webkit-transition: var(--Main-Trans);
  -moz-transition: var(--Main-Trans);
  -ms-transition: var(--Main-Trans);
  -o-transition: var(--Main-Trans);
  z-index: -1;
}
header .container .main-nav .mega-menu .links > li:hover:before {
  width: 100%;
}

header .container .main-nav .mega-menu .links > li:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
header .container .main-nav .mega-menu .links > li:not(:last-child) {
  border-bottom: 1px solid #d5d6d6;
}
header .container .main-nav .mega-menu .links > li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--mainColor);
}
header .container .main-nav .mega-menu .links li i {
  width: 15px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .search {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (max-width: 767px) {
  header .search {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
@media (max-width: 767px) {
  header .search {
    display: none;
  }
}
header .search .icon i {
  padding: 5px 10px;
  border-left: 2px solid crimson;
}
header .search span:hover > input[type="search"] {
  opacity: 1;
}
header .search input[type="search"] {
  position: absolute;
  top: 200%;
  left: -220px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: -0px -0px 9px 1px rgba(51, 51, 51, 0.267);
  padding: 10px;
  caret-color: var(--mainColor);
  opacity: 0;
  order: -1;
  color: var(--mainColor);
}
header .search input[type="search"]::placeholder {
  font-size: 0.8rem;
  transition: var(--Main-Trans);
  -webkit-transition: var(--Main-Trans);
  -moz-transition: var(--Main-Trans);
  -ms-transition: var(--Main-Trans);
  -o-transition: var(--Main-Trans);
  opacity: 1;
  color: var(--mainColor);
}
header .search input[type="search"]:focus {
  outline: none;
  background-color: #333;
}
header .search input[type="search"]:focus::placeholder {
  opacity: 0;
}
/* Mega menu end */
/* Header end */
/* landing  */
.landing {
  position: relative;
  height: 100vh;
}
.landing::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  top: -210px;
  z-index: -1;
  transform: skewy(-11deg);
  -webkit-transform: skewy(-11deg);
  -moz-transform: skewy(-11deg);
  -ms-transform: skewy(-11deg);
  -o-transform: skewy(-11deg);
}
.landing::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  top: -210px;
  z-index: -1;
  transform: skewy(11deg);
  -webkit-transform: skewy(11deg);
  -moz-transform: skewy(11deg);
  -ms-transform: skewy(11deg);
  -o-transform: skewy(11deg);
}
.landing .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (max-width: 767px) {
  .landing .container {
    flex-direction: column;
  }
}

.landing .container .text {
  width: 520px;
}
.landing .container .text h1 {
  color: var(--mainColor);
}
.landing .container .text p {
  line-height: 2;
  color: rgb(108 93 93);
}
@media (max-width: 767px) {
  .landing .container .text {
    width: 100%;
    text-align: center;
    margin-top: -100px;
  }
  .landing .container .text p {
    font-size: 0.8rem;
  }
  .landing .container .text h1 {
    font-size: 1.2rem;
  }
}
@media (max-width: 991px) {
  .landing .container .text {
    flex: 1;
  }
  .landing .container .land-img {
    display: none;
  }
}
.landing .container .land-img {
  position: relative;
  right: 0;
  animation: top-down 3s linear infinite;
  -webkit-animation: top-down 3s linear infinite;
  top: 0;
}
@media (max-width: 767px) {
  .landing .container .land-img {
    order: -1;
    margin-top: -350px;
    left: 10%;
    position: absolute;
  }
  .landing .container .land-img img {
    width: 300px;
  }
}
.landing .container .land-img img {
  position: relative;
}
/* landing end */
/* Animation */
@keyframes top-down {
  0,
  100% {
    top: -40px;
  }
  50% {
    top: 40px;
  }
}
/* Animation End */
